<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span style="color: red;">Vos enjeux
            </span>              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Acquisition client</a>
              <a class="dropdown-item" href="#">Drive to store</a>
              <a class="dropdown-item" href="#">Evenementiel</a>
              <a class="dropdown-item" href="#">Marque employeur</a>
              <a class="dropdown-item" href="#">Engagement de vos salariés</a>
  
  
          </div>
          </li>
        
        <li class="nav-item ">
          <a class="nav-link" href="#"><span style="color: black;">réalisées</span> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <span style="color: black;">News</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <span style="color: black;">A propos</span> </a>
          </li>
        </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Contacter</button>
      </form>
    </div>
  </nav>
  <div class="elementor elementor-991" data-elementor-type="wp-page" data-elementor-id="991" data-elementor-settings="[]">
 
<div class="elementor-inner">
<div class="elementor-section-wrap">
<section class="elementor-element elementor-element-2da9c41 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="2da9c41" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-element elementor-element-5047b77 elementor-column elementor-col-100 elementor-top-column" data-id="5047b77" data-element_type="column">
<div class="elementor-column-wrap  elementor-element-populated">
<div class="elementor-widget-wrap">
<div id="concepto" class="elementor-element elementor-element-b1c2419 vh-80 elementor-widget elementor-widget-tommusrhodus-hero-slider-block" data-id="b1c2419" data-element_type="widget" data-widget_type="tommusrhodus-hero-slider-block.default">
<div class="elementor-widget-container">
<section class="p-0 border-top border-bottom row no-gutters">
<div class="col-lg-7 col-xl-6">
<div class="container min-vh-lg-80 d-flex align-items-center">
<div class="row justify-content-center">
<div class="col col-md-10 col-xl-9 text-center text-lg-left">
<section>
<div class="aos-init aos-animate" data-aos="fade-right">
<h1><span style="color: #20286d;">Faites la différence avec la </span> <span style="color: #ff5f5a;"> publicité </span> <span style="color: #20286d;"> sur VTC et </span> <span style="color: #ff5f5a;"> voitures </span> <span style="color: #20286d;"> d'automobilistes particuliers </span></h1>
</div>
<div class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start aos-init aos-animate" data-aos="fade-right" data-aos-delay="300">
<p><a class="btn btn-outline-primary-2" href="#concept-imc">Découvrir Win4All</a></p>
</div>
</section>
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-xl-6 d-lg-flex flex-lg-column">
<div class="divider divider-side transform-flip-y bg-white d-none d-lg-block"> </div>
<div class="d-lg-flex flex-column flex-fill controls-hover flickity-enabled is-draggable" tabindex="0" data-flickity="{ &quot;imagesLoaded&quot;: true, &quot;wrapAround&quot;:true, &quot;pageDots&quot;:false, &quot;autoPlay&quot;:true }">
<div class="flickity-viewport" style="height: 211.113px; touch-action: pan-y;">
<div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
<div class="carousel-cell text-center is-selected" style="position: absolute; left: 0%;"><img class="img-fluid" src="../assets/test/images/pic4.jpg" sizes="(max-width: 1024px) 100vw, 1024px"  alt="uber pnl win4all" width="1024" height="579" /></div>
<div class="carousel-cell text-center" style="position: absolute; left: 100%;"><img class="img-fluid" src="../assets/test/images/pic4.jpg" sizes="(max-width: 1024px) 100vw, 1024px"  alt="kapten win4all" width="1024" height="498" /></div>
<div class="carousel-cell text-center" style="position: absolute; left: -100%;"><img class="img-fluid" src="../assets/test/images/pic5.jpg" sizes="(max-width: 1024px) 100vw, 1024px" alt="Levier d'acquisistion client Deliveroo Win4All" width="1024" height="576" /></div>
</div>
</div>
<button class="flickity-button flickity-prev-next-button previous" type="button"></button><button class="flickity-button flickity-prev-next-button next" type="button"></button></div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="elementor-element elementor-element-e2130cc elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e2130cc" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-element elementor-element-74e077c elementor-column elementor-col-33 elementor-top-column" data-id="74e077c" data-element_type="column">
<div class="elementor-column-wrap  elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-635babc elementor-widget elementor-widget-image" data-id="635babc" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
    <div class="row">
        <div class="col-sm-6"><div class="elementor-image"><img class="attachment-large size-large" src="../assets/test/images/pic6.jpg" sizes="(max-width: 798px) 100vw, 798px"  width="798" height="798" /></div>
    </div>
<div class="col-sm-6"><div class="elementor-element elementor-element-edcca7e elementor-column elementor-col-33 elementor-top-column" data-id="edcca7e" data-element_type="column">
    <div class="elementor-column-wrap  elementor-element-populated">
    <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-f4791a6 elementor-widget elementor-widget-text-editor" data-id="f4791a6" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
    <div class="elementor-text-editor elementor-clearfix">
    <h2 style="text-align: left; color: #20286d;">Pourquoi Win4All ?</h2>
    <h5>Des automobilistes ambassadeurs représentent volontairement des marques</h5>
    <p>Notre plateforme de marque met en relation des annonceurs avec leurs consommateurs<br />pour une visibilité disruptive.</p>
    
    </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-484ea11 elementor-widget elementor-widget-tommusrhodus-icon-text-block" data-id="484ea11" data-element_type="widget" data-widget_type="tommusrhodus-icon-text-block.default">
    <div class="elementor-widget-container">
    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="my-4">
    <div class="d-flex">
    <div class="mr-3 mr-md-4"></div>
    <div>
    <h5>Une visibilité et un fort impact publicitaire</h5>
    Nous croyons en notre média sociétal conversationnel, qui permet aux marques de s’appuyer sur des ambassadeurs engagés et de générer des contenus marketing pertinents.</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div></div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</section>
<section> <div class="elementor-widget-container">
  <h2 style="text-align: center; color: #20286d;">Nos Service</h2>
   <br><br><br>
    <ol class="list-unstyled p-0">
    <li class="d-flex align-items-start my-4 my-md-5">
    <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
    <div class="position-absolute text-white h5 mb-0">1</div>
    </div>
    <div class="ml-3 ml-md-4">
    <h4>Nous ciblons et trouvons vos futurs consommateurs</h4>
    </div>
    </li>
    <li class="d-flex align-items-start my-4 my-md-5">
    <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
    <div class="position-absolute text-white h5 mb-0">2</div>
    </div>
    <div class="ml-3 ml-md-4">
    <h4>Nous mobilisons notre communauté pour booster vos communications</h4>
    </div>
    </li>
    <li class="d-flex align-items-start my-4 my-md-5">
    <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
    <div class="position-absolute text-white h5 mb-0">3</div>
    </div>
    <div class="ml-3 ml-md-4">
    <h4>Nous créons un lien vertueux entre vous et vos cibles pour une publicité plus performante</h4>
    </div>
    </li>
    </ol>
    </div>
</section>
<section>
<div class="elementor-text-editor elementor-clearfix">
    <h2 style="text-align: center; color: #20286d;">Quels sont vos enjeux ?</h2>
    </div>
</section>
<section>
  <div class="row">
    <div class="col-sm-6">
<div class="item">
       <div class="proimg">
<a class="fancybox"  data-fancybox-group="gallery"><img height="250" width="250" src="../assets/test/images/pic2.jpg" alt="" />
    <div class="container">
    <p style="color: #20286d;font-weight: bold;"><span style="color: red;font-weight: bold;" >Drive-to-store</span>  <br>

      Démultipliez votre drive-to-store <br> avec des automobilistes ambassadeurs <br> engagés pour votre marque</p> </div>
</a></div>
    </div>
    </div>
    <div class="col-sm-6">
        <div class="item">
           <div class="proimg">
           <a class="fancybox"  data-fancybox-group="gallery"><img height="150" width="150" src="../assets/test/images/pic1.jpg" alt="" />
                <div class="container">
                   <p style="color: #20286d;font-weight: bold;"><span style="color: red;font-weight: bold;" >Acquisition client </span><br>
                    Des automobilistes ambassadeurs sélectionnés <br>
                    en fonction de leur <br>
                    trajet domicile-travail<br>
                     dans une zone de chalandise précise de votre choix </div>
          </a></div>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            <div class="item">
               <div class="proimg">
               <a class="fancybox"  data-fancybox-group="gallery"><img height="150" width="250" src="../assets/test/images/pic4.jpg" alt="" />
                    <div class="container">
                      <p style="color: #20286d;font-weight: bold;"><span style="color: red;font-weight: bold;" >Engagement de vos salariés</span><br>

                        Mobilisez et engagez vos salariés <br> pour promouvoir votre marque employeur</p>
                    </div>
              </a></div>
            </div>
            </div>
            <div class="col-sm-6">
                <div class="item">
                   <div class="proimg">
                   <a class="fancybox"  data-fancybox-group="gallery"><img height="250" width="250" src="../assets/test/images/pic5.jpg" alt="" />
                        <div class="container">
                          <p style="color: #20286d;font-weight: bold;"><span style="color: red;font-weight: bold;" >Evénementiel</span> <br>

                            Différenciez-vous avec des automobilistes ambassadeurs<br> qui s'engagent pour la marque qu'ils représentent</p>
                        </div>
                  </a></div>
                </div>
                </div>
                </div></section>
</div>
</div>
</div>
<div class="clearfix"> </div>
<footer class="bg-white pb-4 footer-1">
  <div class="container">
  <div class="row">
  <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
  <h5 class="text-black">Accueil</h5>
  <ul class="nav flex-row flex-md-column">
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/">Accueil automobilistes</a></li>
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2">Accueil annonceurs</a></li>
  </ul>
  </div>
  <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
  <h5 class="text-black">La startup</h5>
  <ul class="nav flex-row flex-md-column">
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/histoire">L'histoire</a></li>
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/equipe">L'équipe</a></li>
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/presse">Presse</a></li>
  </ul>
  </div>
  <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
  <h5 class="text-black">Aide</h5>
  <ul class="nav flex-row flex-md-column">
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/comment-ca-marche">Comment ça marche</a></li>
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/questions-frequentes">Questions fréquentes</a></li>
  </ul>
  </div>
  <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
  <h5 class="text-black">Contact</h5>
  <ul class="nav flex-row flex-md-column">
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/contact">Nous contacter</a></li>
  <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" href="/recrutement">On recrute !</a></li>
  </ul>
  </div>
  </div>
  <div class="row">
  <div class="col"><hr /></div>
  </div>
  <div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
  <div class="col-auto">
  <div class="d-flex flex-column flex-sm-row align-items-center text-small">
      <div class="text-muted">© 2020 win4all  <a href="/">Groupe</a>  </div>
  </div>
  </div>
  <div class="col-auto mt-3 mt-lg-0">
  
  </div>
  </div>
  </div>
  </footer>