
<div class="left-slider-wrapper">
	<div class="container form-content">
		<div class="headerform">
			<div class="innerform fadeInUp" data-wow-delay="1s">
				<h3> Representer des marques et recevez  des produits ,  des bons d'achat et méme des remunirations !</h3>
			 	<div class="formfill">
					<form>
						<input type="text" placeholder="Name">
                        <input type="text" placeholder="E-mail">
                        <input type="password" placeholder="password"
                        >
								<input type="Submit" value="Acceder aux compagnes">
					</form>
				</div>
			 </div>	
		</div>
	</div>
	
	
</div>
<div class="welcomesection">
	<div class="container">
		<h2>Le concept est simple et rapide !</h2>
		<div class="col-sm-7">
<P>Vous collez sur vos deux portières avant un sticker le temps d'une campagne , vous roulez comme d'habitude et vous recevez des produits ou des bons d'achat !</P>
            <a href="#">à propos</a>

        </div>
		<div class="col-sm-5 wow fadeInDown" data-wow-delay="1s">
			<img  src="../assets/test/images/2742e1_55511d8250244ef6b4576aa8a92e1bac_mv2.jpg" alt="">	
		</div>
	</div>
</div>
<div class="booktodaysection">
	<div class="container">
		<h2>Ils ont sauté le pas</h2>
		<p>Tout comme vous, ils ont hésité, se sont posés des questions puis ont tenté l'expérience. Voici ce qu'ils en ont pensé !
        </p>	<a  href="#" style="background: black;">Debuter l'adventure!</a>
	</div>
</div>
<div class="metropolitan-menu">
 <div class="container">
 	<div class="col-sm-6 cocktail-menu">
		<h2 style="color: rgb(13, 13, 97);">Win4All Presentation</h2>
		<div class="menuimage">
				<img src="../assets/test/images/win4all.png" alt="">	
		</div>
		<div class="menulisting">
			<div class="categorylist">
				<h4>Il était une fois Win4All ...</h4>
				<ul>
					<li>Toutes les voitures peuvent participer</li>
					<li>Les stickers sont totalement adaptés à vos voitures</li>
				</ul>
				<ul>
					<li>Représentez la marque et recevez vos produits / bons d'achat</li>
					<li>une marque qui consiste exclusivement en un ensemble d'éléments qui se répètent de façon régulière</li>
					<li>une reproduction montrant la répétition du motif</li>
				</ul>
				
			</div>
		</div>
	
	</div>
	
 </div>
</div>
<div class="gallary">	
	<div class="container">
		<h2></h2>
		<div class="client-carousel">
            <div class="row">
                <div class="col-sm-6">
				<div class="item">
                   <div class="proimg">
				   <a class="fancybox"  data-fancybox-group="gallery"><img height="250" width="250" src="../assets/test/images/slider12.png" alt="" />
				        <div class="container">
                <p style="color: #20286d;font-weight: bold;">  Postulez directement à la campagne de votre choix en fonction de<br> la ville, du sticker et de la récompense !</p>
                        </div>
				  </a></div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="item">
                       <div class="proimg">
                       <a class="fancybox"  data-fancybox-group="gallery"><img height="150" width="150" src="../assets/test/images/slider12.png" alt="" />
                            <div class="container">
                               <p style="color: #20286d;font-weight: bold;">Peu importe la couleur,<br> le modèle, l'année ou le type de votre voiture</p>                    
                                       </div>
                      </a></div>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        <div class="item">
                           <div class="proimg">
                           <a class="fancybox"  data-fancybox-group="gallery"><img height="150" width="250" src="../assets/test/images/slider14.jpg" alt="" />
                                <div class="container">
                                  <p style="color: #20286d;font-weight: bold;">Pas d'inquiétude les stickers n'abîment pas votre carrosserie,<br> ils se posent et s'enlèvent très facilement sans laisser de trace</p>                    

                                </div>
                          </a></div>
                        </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                               <div class="proimg">
                               <a class="fancybox"  data-fancybox-group="gallery"><img height="250" width="250" src="../assets/test/images/slider15.jpg" alt="" />
                                    <div class="container">
                                      <p style="color: #20286d;font-weight: bold;">Devenez ambassadeur de la marque, le temps de la campagne <br>et recevez produits, bons d'achat ou cartes carburant</p>                    

                                    </div>
                              </a></div>
                            </div>
                            </div>
                            </div>
                </div>
</div>
<div class="contact-section">
  <br>
	<div class="container">
		<div class="col-sm-6 contactform wow fadeInLeft" data-wow-delay="0.5s">
			<h2>Contater Nous</h2>
				<form>
                     <div class="input-fill">
					 	<input type="text" placeholder="Nom">
					 </div>
					 <div class="input-fill">
					 	<input type="text" placeholder="E-mail">
					 </div>
					 <div class="input-fill">
					 	<input type="text" placeholder="Phone">
					 </div>
					 
					 <input type="submit" value="Contacter">       
                </form>       
		</div>
		<div class="col-sm-6 ourpartner wow fadeInRight" data-wow-delay="1s">
			<h2>Notre Partenaire</h2>
					<div class="col-sm-4 client-box">
                            <div class="client-icon">
                                <img src="./assets/test/images/demo_logo_0.png" alt="" />
                            </div>
                    </div>
                    <div class="col-sm-4 client-box">
                		<div class="client-icon">
                        	<img src="./assets/test/images/demo_logo_1.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4 client-box">
                		<div class="client-icon">
                        	<img src="./assets/test/images/demo_logo_@.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4 client-box">
                		<div class="client-icon">
                        	<img src="./assets/test/images/demo_logo_3.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4 client-box">
                		<div class="client-icon">
                        	<img src="../assets/test/images/demo_logo_4.jpg" alt="" />
                        </div>
                    </div>
                  
					<div class="col-sm-4 client-box">
                            <div class="client-icon">
                                <img src="../assets/test/images/demo_logo_5.jpg" alt="" />
                            </div>
                    </div>
        </div>
	</div>
</div>

<footer class="bg-white pb-4 footer-1"><br />
    <div class="container">
    <div class="row">
    <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
    <h5 class="text-black" style="color: #20286d; font-weight: bold;">Accueil</h5>
    <ul class="nav flex-row flex-md-column">
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;" > Accueil automobilistes</a></li>
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;"> Accueil annonceurs</a></li>
    </ul>
    </div>
    <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
    <h5 class="text-black" style="color: #20286d; font-weight: bold;">La startup</h5>
    <ul class="nav flex-row flex-md-column">
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;" >L'histoire</a></li>
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;">L'équipe </a></li>
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;" >Presse </a></li>
    </ul>
    </div>
    <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
    <h5 class="text-black" style="color: #20286d; font-weight: bold;">Aide</h5>
    <ul class="nav flex-row flex-md-column">
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;">Comment ça marche </a></li>
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;" > Questions fréquentes</a></li>
    </ul>
    </div>
    <div class="col-xl-3 col-md-3 mb-4 mb-md-0">
    <h5 class="text-black" style="color: #20286d; font-weight: bold;">Contact</h5>
    <ul class="nav flex-row flex-md-column">
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;" >Nous contacter</a></li>
    <li class="nav-item mr-3 mr-md-0"><a class="nav-link fade-page px-0 py-2" style="color: #20286d; font-weight: bold;"> On recrute !</a></li>
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="col"><hr /></div>
    </div>
    </div>
    </footer>
  <div class="footer wow fadeInDown" data-wow-duration="1s">
	<div class="container">
		<div class="socialicon">
			    <a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
		 </div>
		 <div class="row">
			 <div class="col-lg-12">
				<p>&copy; Win4All 2020 All right reserved.</p>	 	
			 </div>
		 </div>  
		 
	</div>
</div>

